<ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>サロン</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list id="nav">
        <!-- <ion-list>
        <ion-item *ngFor="let room of rooms">
          <button menuClose (click)="joinRoom(room)">
            {{room.na}} {{room.allow}}
          </button>
        </ion-item>
      </ion-list>  -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-menu [content]="content" side="right">
    <ion-header>
      <ion-toolbar>
        <ion-item>
          <ion-title>メンバー</ion-title>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let member of members">
          <img class="avator" src="{{member.avatorUrl}}">
          <button (click)="letMember(member)">
            {{member.name}}
          </button>
          <ion-icon name="{{member.rtc}}" item-right></ion-icon>
        </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>